/*
 * HEADER
 */

header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5rem;
}
header > img {
  width: 210px;
}

/*
 * NAV
 */
nav {
  margin-bottom: 1rem;
}
nav > ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav > ul li {
  padding: 5px 2px;
  font-size: 2.2rem;
}

nav > ul li:not(:last-of-type) {
  margin-right: 6rem;
}
a {
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}
/*
 * MAIN
 */

#hero {
  background-image: url("./images/dishes/hero_2-non-veg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 2rem 0;
  position: relative;
}

#hero-img_cont {
  position: relative;
  height: 100%;
}

#hero-img_cont img {
  height: 150px;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
}
p {
  font-size: 2rem;
}

/*
 * MAIN CONTENT
 */

#main-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#main-content article {
  padding: 3px 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#main-content article img {
  max-width: 100%;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  padding: 10px 0;
}

footer > * {
  margin-right: 1rem;
}
footer img {
  width: 200px;
}
